.containerBorder {
    border-width: 1px;
    border-color: #41FF00;
    border-style: solid;
    width: 600px;
    font-size: 30px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.policyForm {
  border-width: 1px;
  border-color: #41FF00;
  border-style: solid;
  width: 600px;
  font-size: large;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

input[type=text] {
  color: #41FF00;
  border-style:solid;
  border-color:black;
  background-color: black;
  border-bottom-color: white;
  font-family: 'VT323', 'Courier New', Courier, monospace;
  width: 100%
}

.validationError {
  color: red;
  font-family: 'VT323', 'Courier New', Courier, monospace;
  width: 100%
}

input[type=text]:focus {
  color: #41FF00;
  border-color:black;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color:#41FF00;
}

.formSubmitButton {
  background-color: #41FF00;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'VT323', 'Courier New', Courier, monospace;
}

h1 {
  color: #41FF00;
  font-family: 'VT323', 'Courier New', Courier, monospace;
  font-size: 40px;
}


h2 {
  color: #41FF00;
  font-family: 'VT323', 'Courier New', Courier, monospace;
  font-size: 20px;
}

.applicationHeader {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav a {
  display: block;
  text-align: center;
  color: #41FF00;
  background-color: darkslategray;
  padding: 10px;
}

nav a:hover {
  display: block;
  text-align: center;
  background-color: #41FF00;
  color: black;
}

.policies-table {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.policies-table-td {
  text-align: center;
}

@keyframes changeColor {
  0% {
    color:  #41FF00;
  }
  50% {
    color: black;
  }
  100% {
    color:  #41FF00;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading:after {
  animation: changeColor 3s linear infinite alternate;
  content: "Loading";
  font-size: 20px;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: darkgreen;
  text-shadow: cyan;
  padding: 20px;
}

.rt-tr-group:hover {
  color:#4183c4;
  cursor: grab;
}
